{
    "tabWidth": 2,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 80,
    "endOfLine": "lf",
    "jsxBracketSameLine": true,
    "useTabs": false,
    "quoteProps": "consistent",
    "bracketSpacing": false,
    "arrowParens": "always"
}